@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  height: 100vh;
  background-color: black;
  color: #898989;
}

nav {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

nav .logo img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

nav .search {
  display: flex;
  gap: 10px;
}

nav a,
nav .search input,
nav .search button,
nav .toggleTheme {
  padding: 5px 15px;
  font-size: 0.9em;
  outline: none;
  border: 1px solid#898989;
  border-radius: 0.3em;
  color: #898989;
  background-color: #121218;
  text-decoration: none;
}

nav .search button,
nav .toggleTheme {
  cursor: pointer;
}

img {
  height: 90%;
  width: 90%;
}

.input-start-date,
.input-end-date {
  background-color: #121218;
  color: #d0d0d0;
  border: 2px solid rgba(133, 149, 188, 0.5); /* Bordure lumineuse subtile */
  border-radius: 8px;
  padding: 10px 15px;
  font-family: "Anta", sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  outline: none;
  transition: all 0.3s ease; /* Transition pour les interactions */
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.1); /* Ombre interne subtile */
}

.input-start-date:focus,
.input-end-date:focus {
  border-color: rgba(0, 255, 200, 1);
  box-shadow: 0 0 15px rgba(0, 255, 200, 0.8);
  color: #898989;
}

.form-container {
  display: flex;
  flex-direction: column; /* Les enfants s'aligneront verticalement */
  align-items: center;
  gap: 20px; /* Espacement entre les éléments */
  max-width: 250px; /* Limiter la largeur */
  margin-top: 50px;
  margin-left: 25px;
}

.button-display-range {
  background: linear-gradient(
    135deg,
    #1a1a1f,
    #2a2a30
  ); /* Dégradé discret sombre */
  color: #00ffe7;
  border: 2px solid rgba(0, 255, 230, 0.3); /* Bordure lumineuse subtile */
  border-radius: 12px;
  padding: 12px 25px;
  font-family: "Anta", sans-serif;
  font-size: 16px;
  letter-spacing: 1.2px; /* Espacement des lettres.*/
  text-transform: uppercase; /* Texte en majuscules */
  cursor: pointer;
  transition: all 0.3s ease-out; /* Transitions */
  box-shadow: 0 4px 15px rgba(0, 255, 230, 0.1),
    inset 0 0 5px rgba(255, 255, 255, 0.05); /* Ombres internes et externes */
}

.button-display-range:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 255, 230, 0.4);
}

.button-display-range:active {
  transform: translateY(2px);
}
.apod-container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: justify;
  padding: 16px;
}
.container {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.info-box {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
}
.info-box h2 {
  margin: 0 0 10px;
  font-size: 24px;
}
.info-box h3 {
  margin: 0 0 10px;
  font-size: 20px;
  color: lightblue;
}
.info-box p {
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 1.4;
}
.info-box a {
  color: lightblue;
  text-decoration: none;
}
.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 30px;
  color: white;
  z-index: 10;
}
.nav-button.left {
  left: 20px;
}
.nav-button.right {
  right: 20px;
}